n8n_workflows/01 - Tool Calling.json
{
  "name": "01 - Tool Calling",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -592,
        -128
      ],
      "id": "c52cf2e7-b09d-4c53-af9b-93a48e01c430",
      "name": "When chat message received",
      "webhookId": "44da48ca-0750-45f5-8f49-da9e3faea94d"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=I am {{ $json.user_name }}. Help me with this query {{ $json.chatInput }}",
        "options": {
          "systemMessage": "Address user by name when responding."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -96,
        -128
      ],
      "id": "024f3751-ac94-486c-9740-89af83409dc0",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -224,
        80
      ],
      "id": "bf0d10aa-0ed4-4dec-9a32-ca7dc37d077b",
      "name": "OpenAI Chat Model",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "dNGZjd5M7FEnikxV",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "241ab7e2-200d-4f1f-9757-2ab562965eb0",
              "name": "user_name",
              "value": "Gary",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -400,
        -128
      ],
      "id": "02e6cf58-150a-45bd-b8e6-6ddcffbb6aff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "toolDescription": "FMP",
        "url": "=https://financialmodelingprep.com/api/v3/profile/{{ $fromAI('ticker') }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "INSERTYOURKEYHERE"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        144,
        80
      ],
      "id": "ed80b999-0b2b-442f-8974-6decae05a953",
      "name": "Company Profile"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Company Profile": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6f7a6153-48da-4791-a0b3-d10e78d229aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "66173783a3a0bf5704df9a4c4111afd1edcc3224e4a2e932e282b16db3f9a83e"
  },
  "id": "qbx3WME7QaF_GEo09P-vX",
  "tags": []
}